* {
  padding: 0px;
  margin: 0px;
}
.main_container {
  width: 100vw;
  /* padding: 50px; */
}
.todo_nav {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  justify-content: space-between;
  margin-top: 25px;
  letter-spacing: 2px;
  border: none;
  width: 100vw;
}
.bx {
  margin-left: 7px;
  font-size: 30px;
}
.logo {
  color: aliceblue;
  font-family: "Lato", sans-serif;
  font-family: "Pacifico", cursive;
  margin-left: 10px;
}
.logo h2 {
  font-size: 27px;
  margin-left: 10px;
}
.logo:hover {
  color: rgb(125, 125, 125);
  transform: translateY(-5px);
}
.todo_nav2 {
  display: flex;
}
.todo_nav2 a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-family: "Pacifico", cursive;
  color: aliceblue;
  font-size: 25px;
  margin-right: 30px;
}
.todo_nav2 a:hover {
  color: rgb(141, 191, 242);
  transform: translateY(-4px);
}
.todo_nav2 a:active {
  color: #000000;
}
.todo_list {
  font-family: "Lato", sans-serif;
  font-family: "Pacifico", cursive;
  font-size: 19px;
  text-align: center;
  margin-top: 30px;
  justify-content: center;
}
.todo_list h1 {
  align-items: center;
  padding: 10px;
  color: aliceblue;
  letter-spacing: 3px;
}
.todo_list h1:hover {
  color: rgb(195, 197, 199);
}
body {
  background-color: #7ed6df;
  background-image: linear-gradient(315deg, #7ed6df 0%, #000000 74%);
  background-attachment: fixed;
  /* background-size: cover; */
  min-height: 100vh;
  overflow-x: hidden;
}
.todo_list input {
  height: 25px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-family: "Pacifico", cursive;
  padding: 5px;
  border-radius: 12px;
  color: rgb(80, 81, 81);
  margin-top: 10px;
}
.todo_btn {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-family: "Pacifico", cursive;
  padding: 5px;
  margin-right: 4px;
  border-radius: 12px;
  color: rgb(81, 81, 80);
  cursor: pointer;
  width: 70px;
}
.todo_btn:active {
  background-color: #f68d96;
  color: #080808;
  transform: scale(0.8);
}
.todo_add {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}
.todo_add ul {
  list-style: none;
  letter-spacing: 1px;
  width: max-content;
  display: flex;
  flex-direction: column;
}
.todo_add ul li {
  width: 60rem;
  color: rgb(232, 236, 236);
  font-size: 22px;
  border-radius: 7px;
  text-align: left;
  height: 40px;
  display: grid;
  grid-template-columns: 0.9fr 0.1fr;
  line-height: 40px;
  padding-left: 7px;
  margin: 5px;
  font-family: "Lato", sans-serif;
  font-family: "Pacifico", cursive;
}

.todo_add ul li div {
  display: flex;
  margin-left: 10px;
}
.bx-trash {
  font-size: 29px;
  margin-top: 4px;
}
.bx-check {
  font-size: 40px;
}
.bxs-pen {
  font-size: 29px;
  padding: 2px;
  margin-top: 2px;
}
.up_h2 {
  font-family: "Lato", sans-serif;
  font-family: "Pacifico", cursive;
  margin-bottom: 5px;
  color: rgb(177, 173, 173);
  letter-spacing: 0.5px;
  font-size: 29px;
}
.line {
  height: 1px;
  background-color: #bdbdef;
  margin-bottom: 15px;
  opacity: 0.3;
  border-radius: 10px;
}
.update_form {
  top: 50%;
  left: 50%;
  border-style: solid;
  background-image: linear-gradient(333deg, #060606 17%, #8ad2f4 97%);
  opacity: 0;
  padding: 60px;
  width: 400px;
  position: absolute;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 15px;
}
.update_input {
  width: 300px;
  height: 35px;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  font-family: "Pacifico", cursive;
  font-size: 14px;
  padding-left: 5px;
}
.update_btn {
  width: 70px;
  height: 40px;
  border-radius: 10px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-family: "Pacifico", cursive;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.hidden {
  display: none;
}

/* responsive web  todo*/
@media screen and (max-width: 1004px) {
  .main_container {
    text-align: center;
    width: max-content;
  }
  body {
    background-image: linear-gradient(315deg, #e5f18e 0%, #000000 64%);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Lato", sans-serif;
    font-family: "Pacifico", cursive;
  }
  .todo_nav {
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    /* width: max-content; */
  }
  .logo {
    margin-left: 25px;
    padding: 5px;
  }
  .logo h2 {
    font-size: 20px;
  }
  .bx {
    font-size: 23px;
  }
  .todo_nav2 a {
    font-size: 22px;
    padding: 5px;
    text-align: center;
    color: #f8f5f3;
    margin-left: 15px;
  }
  .todo_list h1 {
    font-size: 23px;
  }
  .todo_list input {
    width: 200px;
    height: 20px;
    font-size: 14px;
  }
  .todo_btn {
    height: 36px;
    width: 60px;
    font-size: 14px;
  }
  .todo_add {
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;
    width: max-content;
  }
  .todo_add ul {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .todo_add ul li {
    font-size: 23px;
    align-items: center;
    line-height: 20px;
    margin-left: 60px;
  }
  .todo_add ul li div {
    display: flex;
    margin-right: 3px;
  }
  .bx-trash {
    font-size: 19px;
    margin-top: 4px;
  }
  .bx-check {
    font-size: 30px;
  }
  .bxs-pen {
    font-size: 20px;
    padding: 2px;
    margin-top: 2px;
  }
  .update_form {
    top: 60%;
    left: 60%;
    border-style: solid;
    background-image: linear-gradient(333deg, #060606 17%, #8ad2f4 97%);
    opacity: 0;
    padding: 60px;
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 15px;
  }
}
@media screen and (max-width: 940px) {
  .update_form {
    top: 60%;
    left: 60%;
    border-style: solid;
    background-image: linear-gradient(333deg, #060606 17%, #8ad2f4 97%);
    opacity: 0;
    padding: 60px;
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    border: none;
  }
}
@media screen and (max-width: 820px) {
  .todo_nav {
    width: max-content;
  }
  .todo_nav2 {
    margin-left: 10px;
  }
  .logo {
    margin-right: 70px;
  }
  .logo h2 {
    font-size: 29px;
  }
  .bx {
    font-size: 30px;
  }
  .todo_nav2 a {
    font-size: 29px;
  }
  .todo_list h1 {
    font-size: 40px;
  }
  .todo_list input {
    height: 30px;
    width: 250px;
    font-size: 22px;
  }
  .todo_btn {
    height: 45px;
    width: 70px;
    font-size: 22px;
  }
  .todo_add ul li {
    font-size: 25px;
  }
  .bx-check {
    font-size: 42px;
  }
}

@media screen and (max-width: 667px) {
  .main_container {
    text-align: center;
    width: max-content;
  }
  body {
    background-image: linear-gradient(315deg, #e5f18e 0%, #000000 64%);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Lato", sans-serif;
    font-family: "Pacifico", cursive;
  }
  .todo_nav {
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    /* width: max-content; */
    width: 60rem;
  }
  .logo {
    margin-left: 10px;
    padding: 5px;
  }
  .logo h2 {
    font-size: 32px;
  }
  .bx {
    font-size: 23px;
  }
  .todo_nav2 a {
    font-size: 32px;
    padding: 5px;
    text-align: center;
    color: #f8f5f3;
    margin-left: 55px;
  }
  .todo_list h1 {
    font-size: 55px;
  }
  .todo_list input {
    width: 220px;
    height: 25px;
    font-size: 16px;
  }
  .todo_btn {
    height: 40px;
    width: 70px;
    font-size: 16px;
  }
  .todo_add {
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;
    width: max-content;
  }
  .todo_add ul {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .todo_add ul li {
    font-size: 25px;
    align-items: center;
    line-height: 20px;
    margin-left: 60px;
  }
  .todo_add ul li div {
    display: flex;
    margin-right: 3px;
  }
  .bx-trash {
    font-size: 19px;
    margin-top: 4px;
  }
  .bx-check {
    font-size: 30px;
  }
  .bxs-pen {
    font-size: 19px;
    padding: 2px;
    margin-top: 2px;
  }
  .update_form {
    top: 90%;
    left: 95%;
    border-style: solid;
    background-image: linear-gradient(333deg, #060606 17%, #8ad2f4 97%);
    opacity: 0;
    padding: 60px;
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 15px;
  }
}
